$default-font: 'Montserrat', sans-serif

$blue: #2563EB
$orange: #F59E0B
$red: #EF4444
$green: #16A34A
$green-hover: #15803D
$green-focus: #DCFCE7

// light theme
$light-theme: #F8F7F4
$light-card: #FFFFFF
$light-text: #1E1E1E
$light-text-gray: #6B7280
$light-border: #E5E7EB
$light-section-bg: #F3F4F6

// dark theme  
$dark-theme: #111827
$dark-card: #1F2937
$dark-text: #F9FAFB
$dark-text-gray: #9CA3AF
$dark-border: #374151
// $dark-section-bg: #1F2937


@mixin d-flex()
  display: flex
  align-items: center
  justify-content: center
